<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <style>
  body{
    font-family: 'Roboto', sans-serif;
  }
    div{
      font-family: 'Roboto', sans-serif;
      text-align: left;
      padding-left: 20%;
    }
    input{
      padding-right: 10%;
      margin-top: 0.5%;
    }
    .butt{
      margin-left: 50%;
    }

  </style>
</head>

  <body>

    <center><img src="http://sites.ieee.org/sb-kgec/files/2016/12/logo2_web.jpg" width="10%" height="10%"/><centyer>
    <h1><center>Registration form for DeVIC 2017<center></h1>
      <table>
  <tbody>
  <tr>
  <td width="221"><strong>Member</strong></td>
  <td width="221"><strong>Amount for Indian Author &nbsp(INR)</strong></td>
  <td width="221"><strong>Amount for International Authors(US$)</strong></td>
  </tr>
  <tr>
  <td width="221">Non-IEEE Members</td>
  <td width="221">2500</td>
  <td width="221">50</td>
  </tr>
  <tr>
  <td width="221">IEEE Members</td>
  <td width="221">2250</td>
  <td width="221">45</td>
  </tr>
  <tr>
  <td width="221">IEEE Student Members</td>
  <td width="221">2000</td>
  <td width="221">40</td>
  </tr>
  <tr>
  <td width="221">Accompanying Person</td>
  <td width="221">1000</td>
  <td width="221">20</td>
  </tr>
  </tbody>
  </table>
<br>
  <hr>
<br>
    <form action="" method="post" style="text-align:left;">
      {% csrf_token %}
      {{ form.non_field_errors }}
<div>
    {{ form.name.errors }}
    <label for="{{ form.Name.id_for_label }}">Name of the registered participant:</label>
    <br>
    {{ form.Name }}
</div>
<br>
<div class="fieldWrapper">
    {{ form.Paper_ID.errors }}
    <label for="{{ form.Paper_ID.id_for_label }}">Paper ID:</label>
    <br>
    {{ form.Paper_ID }}
</div>
<br>
<div class="fieldWrapper">
    {{ form.Title.errors }}
    <label for="{{ form.Title.id_for_label }}">Title of the Paper:</label>
    <br>
    {{ form.Title }}
</div>
<br>
<div>
    {{ form.Address.errors }}
    <label for="{{ form.Address.id_for_label }}">Address of the registered participant:</label>
    <br>
    {{ form.Address }}
</div>
<br>
<div class="fieldWrapper">
    {{ form.Email.errors }}
    <label for="{{ form.Email.id_for_label }}">E-mail:</label>
    <br>
    {{ form.Email }}
</div>
<br>
<div class="fieldWrapper">
    {{ form.Contact.errors }}
    <label for="{{ form.Contact.id_for_label }}">Phone Number: </label>
    <br>
    {{ form.Contact }}
</div>
<br>
<div class="fieldWrapper">
    {{ form.Amount.errors }}
    <label for="{{ form.Amount.id_for_label }}">Amount of Registration Fee Paid (in INR):</label>
    <br>
    {{ form.Amount }}
</div>
<br>
<div class="fieldWrapper">
    {{ form.Bank.errors }}
    <label for="{{ form.Bank.id_for_label }}">Name of the Bank used for Registration fee payment:</label>
    <br>
    {{ form.Bank }}
</div>
<br>
<div>
    {{ form.Reference_Number.errors }}
    <label for="{{ form.Reference_Number.id_for_label }}">Reference Number/ Transaction ID obtained after Registration fee Payment:</label>
    <br>
    {{ form.Reference_Number }}
</div>
<br>
<div>
    {{ form.Date_of_Fee_Deposited.errors }}
    <label for="{{ form.Date_of_Fee_Deposited.id_for_label }}" placeholder='DD/MM/YYYY'>Date on which Registration fee deposited (dd/mm/yyyy):</label>
    <br>
    {{ form.Date_of_Fee_Deposited }}
</div>
<br>
<div>
    {{ form.Accommodation.errors }}
    <label for="{{ form.Accommodation.id_for_label }}">Accommodation Required:</label>
    {{ form.Accommodation }}
</div>
<br>
<div>
    {{ form.Food_Choice.errors }}
    <label for="{{ form.Food_Choice.id_for_label }}">Food Choice: &nbsp&nbsp</label>
    {{ form.Food_Choice }}
</div>
<br>
      <input class='butt' type="submit" value="Submit" style="padding-right:0.5%;"/>
    </form>
    <p style="color:red;">* Note: All IEEE members needs to produce membership card at the conference venue. </p>
    <br>
    <h7>For more info about registration <a href="http://sites.ieee.org/sb-kgec/devic-2017/">click here</a>.</h7>
  </body>
</html>
