{% extends 'base.html' %}
{% load i18n %}

{% block branding %}
    <h1>Migratory Birds of India</h1>
{% endblock %}


{% block content %}
    {% if request.user.is_staff %}
    <h3>Data upload</h3>
    <hr>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <li><label for="id_iba_code">Iba code:</label> <select id="id_iba_code" name="iba_code" required="">
<option value="" selected="selected">---------</option>
<option value="1">IN003</option>
</select></li>
<li><label for="id_start">Start:</label> <input id="id_start" name="start" type="text" required=""></li>
<li><label for="id_duration">Duration:</label> <input id="id_duration" name="duration" type="number" required=""></li>
<li><label for="id_protocol_type">Protocol type:</label> <input id="id_protocol_type" maxlength="50" name="protocol_type" type="text" required=""></li>
<li><label for="id_trip_comments">Trip comments:</label> <input id="id_trip_comments" maxlength="200" name="trip_comments" type="text" required=""></li>
        <br>
        <input class='butt' type="submit" value="Submit"/>
    </form>
    {% else %}
    <h3>You have not have access to upload data.</h3>
    {% endif %}
{% endblock %}


{% block extrahead %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
  $( function() {
    $( "#id_start_date" ).datepicker();
    $( "#id_end_date" ).datepicker();
  } );
  </script>
    <script type="text/javascript">

        function yesnoCheck() {
            if (document.getElementById('yesCheck').checked) {
                document.getElementById('ifYes').style.display = 'block';
            }
            else document.getElementById('ifYes').style.display = 'none';
            if (document.getElementById('noCheck').checked) {
                document.getElementById('ifNo').style.display = 'block';
            }
            else document.getElementById('ifNo').style.display = 'none';

        }

    </script>

{% endblock %}