{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block branding %}
    <h1>Migratory Birds of India</h1>
{% endblock %}

{% block content %}
    <h3>Search</h3>
    <hr>
    <br>
    <form action="." enctype="db_personal/x-www-form-urlencoded" method="POST">
        <ul>
            {{ form.as_ul }}
        </ul>
        {% csrf_token %}
        <button type="submit">Search</button>
        <br>
        <hr>
        {% if contracts %}
            <table border="1" cellspacing="0">
                <th>Species</th>
                <th>State</th>
                <th>Iba Code</th>
                <th>Forest Type</th>
                {% for contract in contracts %}
                    <tr>
                        <td>{{ contract.species }}</td>
                        <td>{{ contract.state }}</td>
                        <td>{{ contract.iba_code }}</td>
                        <td>{{ contract.forest_type }}</td>
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
    </form>

    {% if download_form %}
        <form action="{% url 'download_data' %}" method="POST">
            {% csrf_token %}
            {{ download_form.as_p }}
            <p>
                <input type="submit" class="btn" name="submit" value="Download"/>
            </p>
        </form>
    {% endif %}

{% endblock %}

{% block extrahead %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
  $( function() {
    $( "#id_start_date" ).datepicker();
    $( "#id_end_date" ).datepicker();
  } );
  </script>
{% endblock %}