{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block branding %}
    <h1>Migratory Birds of India</h1>
{% endblock %}

{% block content %}
    <h3>Search</h3>
    <hr>
    <br>
    <form action="." enctype="db_personal/x-www-form-urlencoded" method="POST">
        <ul>
            {{ form.as_ul }}
        </ul>
        {% csrf_token %}
        <button type="submit">Search</button>
        <br>
        <hr>
        {% if contracts %}
            <table border="1" cellspacing="0">
                <th>Species</th>
                <th>State</th>
                {% for contract in contracts %}
                    <tr>
                        <td>{{ contract.species }}</td>
                        <td>{{ contract.state }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </form>

    {% if download_form %}
        <form action="{% url 'download_data' %}" method="POST">
            {% csrf_token %}
            {{ download_form.as_p }}
            <p>
                <input type="submit" class="btn" name="submit" value="Download"/>
            </p>
        </form>
    {% endif %}


{% endblock %}